<div>
   <!-- <nav>
        <button routerLink="/acceuil">Acceuil</button>
        <button routerLink="/addProduit">Liste des produits</button>
        <button routerLink="/produit">Ajouter produits</button>
        <button routerLink="/databd">Data Binding</button>
    </nav>-->
    <nav>
        <table>
            <tr>
                <td *ngFor="let action of actions">
                    <button (click)="setActionCourante(action)"[style.backgroundColor]="action==actionCourante?'yellow':'red'" routerLink="{{action.route}}">{{action.titre}}</button>
                </td>
            </tr>
        </table>
    </nav>
</div>

<router-outlet></router-outlet>
